<h1 class="heading">Education</h1>
<div class="main">
  <mat-card>
    <mat-card-header>
        <mat-card-title>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <span fxFlex="80">Devi Ahilya Vishwavidhyalaya</span>
            <span fxFlex="20">2012 - 2016</span>
          </div>
        </mat-card-title>
        <mat-card-subtitle>Bachelor of Engineering in Information Technology</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column"fxLayoutAlign="space-between start" style="margin-top:20px; margin-left: 15px">
        <p>• Full Stack Developer role.</p>
        <p>• Working in Identity and Access Management.</p>
        <p>• Working on developing the microservice architecture.</p>
        <p>• Migrating the exisiting restful services to microservices.</p>
        <p>• Converting angular 1.x UI components to angular 8 components.</p>
        <p>• Involve in doing POC for implementing new plugins and technologies in project.</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
