::ng-deep .mat-icon{
  height:48px !important;
  width:48px !important;
  font-size:48px !important;
}

.heading {
  color: gray;
  font-family: Courier, monospace;
  margin-left: 20px;
  margin-bottom: 30px;
}

::ng-deep .mat-card-header-text {
  width: 100% !important;
}

.main {
  margin-bottom: 20px;
  width: 90%;
}


@media only screen and (max-width: 600px) {
  .main {
    margin-bottom: 20px;
    width: 90%;
    margin-left: 20px;
  }
}
