<div class="main" fxLayout="column" fxLayoutAlign="space-between center">
  <mat-card class="mainCard">
    <mat-card-header>
      <mat-card-title>WHO AM I?</mat-card-title>
      <mat-card-subtitle>About Me</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="content">
        Hi I'm Ayush Maheshwari. Currently I am Full Stack Developer having expertise with Angular8, Java and
        node. Done few projects and portfolio work in above. Also developed an android app for the college and completed
        my Bachelors of Engineering with distinction.
      </p>
      <p class="content">
        Love to learn new technologies and stuffs related to generate new knowledge.Face problems with a smile and solve them as
        soon as possible. Very calculated about the time I spend and work I do.
      </p>
    </mat-card-content>
  </mat-card>
  <a mat-icon-button color="primary" routerLink="/experience">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </a>
</div>
