<h1 class="heading">Work Experience</h1>
<div fxLayout="column" fxLayoutAlign="space-between center" class="main">
  <div class="timeline">
    <div class="container left">
      <div class="content">
        <h1>Consultant</h1>
        <h2 style="margin-top: -23px;color: #868686;">Simeio Solutions</h2>
        <p style="margin-top: -23px;color: #868686;">Aug 2020 - Present</p>
        <div fxLayout="column"fxLayoutAlign="space-between start" style="margin-top:20px">
          <p>• Full Stack Developer role.</p>
          <p>• Working in Identity and Access Management.</p>
          <p>• Working on developing the microservice architecture.</p>
          <p>• Migrating the exisiting restful services to microservices.</p>
          <p>• Converting angular 1.x UI components to angular 8 components.</p>
          <p>• Involve in doing POC for implementing new plugins and technologies in project.</p>
        </div>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h1>Software Developer</h1>
        <h2 style="margin-top: -23px;color: #868686;">Amdocs</h2>
        <p style="margin-top: -23px;color: #868686;">Sep 2018 - Aug 2020</p>
        <div fxLayout="column"fxLayoutAlign="space-between start" style="margin-top:20px">
          <p>• Delivering and Implementing new requirement using microservices within the deadlines.</p>
          <p>• Involvement in Requirement Scoping with the Business Analyst.</p>
          <p>• Designing the Impact Assessment (IA) with the Business Analyst and giving estimates for the requirement.</p>
          <p>• Involvement in the Issues resolution in ST and UAT.</p>
          <p>• Pre & Post Production and Production Release activity.</p>
          <p>• Provide On-Site support (On-site Co-ordinator) as per Project requirements.</p>
          <p>• Pre & Post Production and Production Release activity.</p>
        </div>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h1>Systems Engineer</h1>
        <h2 style="margin-top: -23px;color: #868686;">Edgeverve Systems Ltd</h2>
        <p style="margin-top: -23px;color: #868686;">May 2016 - Aug 2018</p>
        <div fxLayout="column"fxLayoutAlign="space-between start" style="margin-top:20px">
          <p>• Worked as a Backend Java Developer.</p>
          <p>• Client meetings and discussions about new requirements.</p>
          <p>• Customizing the product(FINACLE Internet Banking) to incorporate the new requirements.</p>
          <p>• Developing vies (JSP) based on new requirements.</p>
          <p>• Testing new feature end to end and deliver to UAT testing team.</p>
        </div>
      </div>
    </div>
  </div>
  <a mat-icon-button color="primary" routerLink="/education" style="margin-top: 20px;">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </a>
</div>
