.main {
  margin-left: 10px;
  margin-right: 10px;
  height: 95vh;
}

mat-progress-bar {
  height: 2em;
  border-radius: 1rem;
}

.heading {
  color: gray;
  font-family: Courier, monospace;
  margin-bottom: 30px;
}

.subHeading {
  color: gray;
  font-family: Courier, monospace;
  margin-bottom: -2px !important;
}

::ng-deep .mat-icon {
  height: 48px !important;
  width: 48px !important;
  font-size: 48px !important;
}

.icon {
  padding: 10px;
}


mat-form-field {
  width: 100%;
}
