<div fxLayout="column" fxLayoutAlign="space-between center" class="main home">
  <img class="profile" src="/assets/images/Ayush.jpg">
  <h1>Hello I'm</h1>
  <h1 class="name">Ayush Maheshwari</h1>
  <p class="intoduction">
    I am a full stack web developer based in Bangalore, India. It's never done until it is fast, responsive and
    correct. But if you cant be fast, at least be responsive. If you still cant be responsive, at least be correct!
    Building a web application is not a thing you do. It's a way of life.
  </p>
  <a mat-icon-button color="primary" routerLink="/about">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </a>
</div>
