.home {
  margin-top: 30px;
}

.profile {
  border-radius: 7rem;
  margin-bottom: 20px;
}

.name {
  font-size: 40px;
  margin-bottom: 50px;
}

.intoduction {
  padding-left: 40px;
  padding-right: 40px;
  word-spacing: 2px;
  font-size: 18px;
	line-height: 35px;
	font-family: Courier, monospace;
}

::ng-deep .mat-icon{
  height:48px !important;
  width:48px !important;
  font-size:48px !important;
}
